.container {
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(8, 100px);
    max-width: 1500px;
    margin:2rem auto;
    width:90%
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #670300;
    grid-column: 1 / span 8;
    text-shadow: 3px 2px yellow;
    font-size: 48px;
    color: red;
    font-family: Impact, Charcoal, sans-serif;
    text-decoration: overline;
}

.navBar {
    background-color: #670300;
    grid-column: 1 / span 8;
    text-shadow: 3px 2px yellow;
    font-size: 24px;
    color: red;
    font-family: Impact, Charcoal, sans-serif;
    text-decoration: overline;
}

.frontPic {
    background-color: darkslateblue;
    grid-column: 1/ span 8;
    grid-row: 4/ span end;
    background-image: url('Images/FrontOfBuilding_1499x500.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    display: flex;
    height: inherit;
    width: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.scroll-left {
    overflow: hidden;
    position: relative;
    grid-column: 1 / span 8;
    grid-row: 3;
    text-shadow: 3px 2px yellow;
    font-size: 48px;
    color: red;
    font-family: Impact, Charcoal, sans-serif;
    text-decoration: overline;
    background-color: #670300;
}

    .scroll-left p {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 50px;
        text-align: center;
        /* Starting position */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        /* Apply animation to this element */
        -moz-animation: scroll-left 10s linear infinite;
        -webkit-animation: scroll-left 10s linear infinite;
        animation: scroll-left 10s linear infinite;
    }
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%);
    }
}

a{
    color:inherit;
    text-decoration: inherit
}